* {
    font-family: 'Open Sans';
    --text-primary: black;
    --text-secondary: black;
    --bg-primary: white;
    --bg-secondary:white;
    --transition-speed: 600ms;
  }

  body {

    margin: 0;
    padding: 0;
    background:transparent;
  }

body::-webkit-scrollbar {
    width: 0.25rem;
  }

body::-webkit-scrollbar-track {
    background: #1e1e24;
  }

body::-webkit-scrollbar-thumb {
    background: #6649b8;
  }

  main {
    margin-left: 5rem;
    padding: 1rem;
  }

  #udoma_form {
    display: block;
    width: 350px;
    float: left;
    background-color: #999999;
  }

  .navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    overflow: hidden;


  }

  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .nav-item {
    width: 100%;
    justify-content: center;
  }


  .nav-item:last-child {
    margin-top: auto;
  }

  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }

  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }

  .link-text {
    display: none;
    margin-left: 1rem;
  }

  .nav-link img {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }






  .navbar:hover .logo img {
    transform: rotate(-180deg);
  }

  /* Small screens */
  @media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }

    .logo {
      display: none;
    }

    .navbar-nav {
      flex-direction: row;
    }

    .nav-link {
      justify-content: center;
    }

    main {
      margin: 0;
    }
  }

  /* Large screens */
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 25rem;
      height: 100vh;
      overflow:hidden;
    }

    .navbar:hover {
      width: 10rem;
    }

    .navbar:hover .link-text {
      display: inline;
    }

    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }

    .navbar:hover .logo-text
    {
      left: 0px;
    }
  }






.Form {

    top: 20em;

    align-items: center;
    padding: 1rem;


}

.Form > div {
    top: 20em;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;

}

.Form input {
    background: #f5f6f7;
    padding: 0.5rem 1rem;
    border: 1px solid #ff9900;
    border-radius: 10px;
    display: block;
    margin: 0.3rem 1rem 0 0;
}



.Form button {
    background: #ff9900;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}


.hide-button {
    display: none;
}


#tsparticles{
  z-index: -1;
  position:fixed;
  height: 100%;
  width:100%;



}

.registerdiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */


.line-1{

    position: relative;
    top: 14em;
    width: 8em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 2rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

/* Animation */
.anim-typewriter{
  animation: typewriter 2s steps(33) 1s 1 normal both,
             blinkTextCursor 500ms steps(33) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 10em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.container{
    display:flex;
    flex-direction: column;
    width: 100%;
    background:transparent;
    justify-content: center;


}
